@import "variables";
@import "sprite";

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: $base_font;
}

img {
	max-width: 100%;
	margin: 10px auto;
	display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: $family1;
	font-size: $base-font;
}

a {
	color: $brand_color;
	font-weight: bold;
}
