/**
 * Variable de breakpoints para slicer breakpoint.
 * Docs: https://github.com/lolmaus/breakpoint-slicer
 *
 * @nuclide slicer-breakpoints
 * @section variables
 */
$slicer-breakpoints: 0 400px 600px 800px 1050px;

/**
 * Variable personalizada de tamaños para slicer breakpoint que corresponden a los breakpoints de $slicer-breakpoints.
 * Docs: https://github.com/lolmaus/breakpoint-slicer
 *
 * @nuclide slicer-breakpoint-names
 * @section variables
 */
$slicer-breakpoint-names: "xs" "s" "m" "l" "xl";

/** @color Color principal */
$brand_color: #ef4023;

$brand_gradient: linear-gradient(0.25turn, #ea381f, #f6891d);
$brand_gradient_inverse: linear-gradient(0.25turn, #f6891d, #ea381f);
$brand_gradient_radial: radial-gradient(circle, #f6891d 0%, #ea381f 100%);
$brand_gradient_radial_inverse: radial-gradient(
	circle,
	#ea381f 0%,
	#f6891d 100%
);

$brand_light: #e4e4e4;

/** @color Color complementario */
$secondary_color: #fff;

/** @color Color de la fuente */
$font_color: #262626;

$error_color: #ea371d;
$valid_color: #00ff86;
$warning_color: #ff8a00;

/**
 * Ancho del contenedor del sitio
 *
 * @nuclide container_width
 * @section variables
 */

$margin: 10px;
$margin1: 25px;
$margin2: 50px;
$margin3: 75px;
$margin4: 100px;

$input-space: 20px;
$input-padding: 15px 15px 15px $margin2;

$container_max: 580px;
$container_min: 420px;

$border_radius: 25px;
$box-shadow: 2px 0px 8px #d6d6d6;
$transition: 0.3s all ease-in;
$input_height: 3.5rem;

$family1: "Poppins", "arial", "sans-serif";

$base_font: 14px;
