.a-button {
	width: 100%;
	margin: 0 auto;
	max-width: 280px;
	background: $secondary_color;
	border: 2px solid transparent;
	border-radius: $border_radius;
	color: $brand_color;
	outline: none;
	font-family: $family1;
	font-size: 14px;
	font-weight: bold;
	transition: $transition;
	cursor: pointer;
	height: $input_height;
	display: block;
	line-height: 1.5rem;
	padding: 0 20px;
	&:active,
	&:hover,
	&:focus {
		background-color: transparent;
		border-color: $secondary_color;
		color: $secondary_color;
	}
	&--clean {
		background-color: transparent;
		border: 2px solid $secondary-color;
		color: $secondary-color;
		&:hover {
			background-color: darken($secondary-color, 85%);
		}
	}
	&--inactive {
		color: #fff;
		background: $brand_light;
		cursor: disabled;
		pointer-events: none;
	}
	&--active {
		color: #fff;
		background: $brand_gradient;
		&:hover,
		&:active,
		&:focus {
			background: $brand_gradient_inverse;
		}
	}
	&--facebook {
		color: #fff;
		background: #4267b2;
		&:hover {
			border: 2px solid #4267b2;
			color: #4267b2;
		}
	}
	&--is-not-filled {
		border-bottom: 2px solid $error_color;
	}
	&--is-filled {
		border-bottom: 2px solid $valid_color;
	}
	&--flying {
		@include absoluteCenter();
		bottom: 70px;
	}
	&--listing {
		color: #000;
		background-size: 25px;
		background-position: 5px 12px;
		background-repeat: no-repeat;
		padding-left: 35px;
		margin: 0;
		border: none;
		width: auto;
		&:hover,
		&:active,
		&:focus {
			color: $brand_color;
			border: none;
		}
	}
	&--chat {
		background-image: url("../img/chat.svg");
	}
	&--delete {
		background-image: url("../img/close.svg");
		background-size: 18px;
		background-position: 5px 15px;
	}
	&--success {
		background-image: url("../img/tick.svg");
		background-size: 24px;
	}
	&--settings {
		background-image: url("../img/cogwheel_dark.svg");
	}
	&--small {
		border: 1px solid #000;
		color: #000;
		margin: $margin1 auto 0;
		font-size: 12px;
		height: auto;
		padding: 5px;
		width: 100px;
		&:hover,
		&:active,
		&:focus {
			color: $brand_color;
			border-color: $brand-color;
		}
	}
}
