.a-button {
	width: 100%;
	margin: 0 auto;
	max-width: 280px;
	background: $secondary_color;
	border: 2px solid transparent;
	border-radius: $border_radius;
	color: $brand_color;
	outline: none;
	font-family: $family1;
	font-size: 14px;
	font-weight: bold;
	transition: $transition;
	cursor: pointer;
	height: $input_height;
	display: block;
	vertical-align: middle;
	line-height: 1.5rem;
	padding: 0 20px;
	&:hover,
	&:focus {
		background-color: transparent;
		border-color: $secondary_color;
		color: $secondary_color;
	}
	&_clean {
		background: transparent;
		border: 2px solid $secondary-color;
		color: $secondary-color;
		&:hover {
			background-color: darken($secondary-color, 85%);
		}
	}
	&_inactive {
		color: #fff;
		background: $brand_light;
		cursor: disabled;
		pointer-events: none;
	}
	&_active {
		color: #fff;
		background: $brand_gradient;
	}
	&_facebook {
		color: #fff;
		background: #4267b2;
		&:hover {
			border: 2px solid #4267b2;
			color: #4267b2;
		}
	}
	&_is-not-filled {
		border-bottom: 2px solid $error_color;
	}
	&_is-filled {
		border-bottom: 2px solid $valid_color;
	}
}
