.m-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: $input_space;
}

.m-buttons_vert {
	display: flex;
	flex-direction: column;
	.a-button {
		margin-bottom: 12px;
		margin: $margin auto;
	}
}
