.m-form {
    margin: $input-space 0;
    .a-input {
        background: transparent;
        height: auto;
        font-size: 16px;
        border: none;
        &:focus {
            height: auto;
        }
    }
    .a-label {
        font-size: 12px;
        margin-bottom: $margin /2;
    }
    .m-form__field {
        background: #fff;
        padding: $input_padding;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        border: 1px solid #fff;
        margin-bottom: $input-space;
    }
}