.m-rate {
	display: flex;
	align-items: center;
	&__path {
		width: 0;
		height: 0;
		position: absolute;
	}
	&__star {
		width: 120px;
	}
	&__volume {
		font-weight: bold;
		margin: 0 $margin;
	}
	&__value {
		background: $brand_color;
		padding: 8px;
		border-radius: 50px;
		color: #fff;
		font-weight: bold;
	}
	&__title {
		margin-right: $margin;
	}
	&--profile {
		flex-direction: column;
		margin: $margin1 0;
		color: #fff;
		font-size: 1.5rem;
		.m-rate__overall {
			margin-top: $margin1;
		}
		.m-rate__value {
			background: #000;
			padding: 15px;
		}
	}
}
