.m-rate {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__path {
		width: 0;
		height: 0;
		position: absolute;
	}
	&__star {
		width: 120px;
	}
	&__volume {
		font-weight: bold;
	}
	&__value {
		background: $brand_color;
		padding: 8px;
		border-radius: 50px;
		color: #fff;
		font-weight: bold;
	}
}
