.m-tabs {
    margin: 20px;
    &__headline {
        margin: 0;
    }
    &__button {
        box-shadow: $box_shadow;
        min-width: 100px;
        border-radius: $border_radius;
        padding: 10px 25px;
        border: 1px solid #fff;
        outline: none;
        cursor: pointer;
        &:focus,
        &:active {
            border: 1px solid #000;
            box-shadow: none;
        }
    }
}