.m-tile {
	background: #fff;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	padding: $margin1;
	cursor: pointer;
	transition: $transition;
	&__title,
	&__value {
		display: block;
		text-align: center;
		font-weight: bold;
	}
	&__title {
		font-size: 16px;
		margin-top: $margin1 / 2;
	}
	&__value {
		font-size: 12px;
		color: $brand_color;
		margin-top: 4px;
		&_success {
			color: darken($valid_color, 5%);
		}
		&_error {
			color: $error_color;
		}
		&_warning {
			color: $warning_color;
		}
	}
	&__image {
		height: 65px;
		&_big {
			height: auto;
		}
	}
	&:focus,
	&:hover {
		box-shadow: none;
	}
	&__col + &__col {
		margin-left: $margin1;
	}
	&--radio {
		padding: 0;
	}
	&--marker {
		box-shadow: none;
		padding: 0;
	}
}
