.o-profile {
    .m-buttons {
        .a-button {
            padding: $input-space;
            height: auto;
            box-shadow: $box-shadow;
            color: #000;
            font-weight: 100;
            background: #fff;
            border-width: 1px;
            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
    }
}