.l-header {
	.t-text {
		margin-top: 25px;
	}
	&_app {
		background: $brand-gradient;
		padding-bottom: $margin1;
		position: relative;
		.m-top {
			border-color: #f69058;
			&__title {
				color: #fff;
			}
		}
		.t-text {
			color: #fff;
			a {
				color: $font_color;
			}
		}
		&::after {
			content: "\A";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent #fff transparent;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			bottom: 0;
		}
	}
}