<!DOCTYPE html>
<html lang="pl">
	<head>
		<title>Tripio - Rejestracja II</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<meta name="title" content="" />
		<meta name="url" content="" />
		<meta name="author" content="" />
		<meta name="robots" content="index,follow" />
		<link
			href="../img/favicon.png"
			rel="icon"
			type="../image/vnd.microsoft.icon"
		/>
		<link
			href="../img/favicon.png"
			rel="shortcut icon"
			type="../image/vnd.microsoft.icon"
		/>
		<link href="../img/favicon.png" rel="shortcut icon" type="image/x-icon" />
		<link href="../img/favicon.png" rel="image_src" type="image/jpeg" />
		<link rel="stylesheet" href="../css/fonts.css" />
		<link rel="stylesheet" href="../css/styles.css" />
	</head>
	<body class="is-guest">
		<div class="wrapper">
			<div class="l-header">
				<div class="l-container">
					<div class="m-top">
						<h1 class="m-top__title">Rejestracja II</h1>
					</div>
					<div class="m-brand">
						<img
							width="125"
							alt="brand logo color"
							src="../img/logo_brand@1x.svg"
						/>
						<p class="t-text">
							Łączymy osoby prywatne w celach weryfikacyjnych oraz <br />
							bezpieczeństwa, prosimy użytkowników o zarejestrowanie się.
						</p>
					</div>
				</div>
			</div>
			<div class="l-main">
				<div class="l-container">
					<form class="o-form" action="">
						<div class="o-form__field o-form__field_wrap">
							<label for="name" class="a-label">Imię i nazwisko</label>
							<input
								id="name"
								name="name"
								required
								type="text"
								class="a-input"
								placeholder="Maciek Kowalski"
							/>
							<span class="a-notification a-notification_error">
								Nie wypełniłeś pola z imieniem i nazwiskiem.
							</span>
						</div>
						<div class="o-form__field o-form__field_wrap">
							<label for="location" class="a-label">Lokalizacja</label>
							<input
								id="location"
								required
								name="location"
								type="text"
								class="a-input a-input_location"
								placeholder="Częstochowa, Jana Pawła"
							/>
							<span class="a-notification a-notification_error">
								Podaj poprawną lokalizację.
							</span>
						</div>
						<div class="o-form__field o-form__field_line">
							<input
								class="a-input"
								type="checkbox"
								id="accept"
								name="accept"
								checked
							/>
							<label for="accept">Akceptuję regulamin</label>
							<span class="a-notification a-notification_error">
								Nie zaakceptowałeś regulaminu.
							</span>
						</div>
						<button class="a-button a-button_primary a-button_inactive">
							Zatwierdź
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
